# Transformation Engine Configuration
# - - - - - - - - - - - - - - - - - -
TE_PG_SERVICE="te"                # Postgresql database service name
TE_SERVER_DEBUG=no

#---- REQUEST PART ----
PORT=51968                        # port number where listen client
LISTEN_ADDRESS=0.0.0.0            # address mask to listen : listen everybody by default
REQUEST_MAX_CLIENT=15             # max request in parallel 
REQUEST_DIRECTORY=/var/tmp        # directory where source files to transform are saved
PURGE_DAYS=7                      # remove tasks older than 7 days
PURGE_INTERVAL=100                # trigger tasks purge every 100 requests (set to 0 to disable purge)

#---- RENDERING PART ----

RENDERING_MAX_CLIENT=10           # max conversion in parallel 
RENDERING_DIRECTORY=/var/tmp      # directory where converted files are saved

# -- Run TE servers as a user --
TE_SERVER_USER=root

# -- Server-mode OpenOffice.org parameters
TE_OOO_SERVER_ENABLED=yes
TE_OOO_BASE_DIR=/replace/me/with/path/to/openoffice.org/directory
TE_OOO_SERVER_PYTHON=${TE_OOO_BASE_DIR}/program/python
TE_OOO_SERVER_SOFFICE=${TE_OOO_BASE_DIR}/program/soffice
TE_OOO_SERVER_UNOPKG=${TE_OOO_BASE_DIR}/program/unopkg
TE_OOO_CLASSPATH="${TE_OOO_BASE_DIR}/program/classes/unoil.jar:${TE_OOO_BASE_DIR}/program/classes/juh.jar:${TE_OOO_BASE_DIR}/program/classes/jurt.jar:${TE_OOO_BASE_DIR}/program/classes/ridl.jar"
TE_OOO_JVM_OPTS=""
TE_OOO_SERVER_HOST=127.0.0.1
TE_OOO_SERVER_PORT=8123

# -- Tika-server Jar file
TE_TIKA_SERVER_ENABLED=yes
TE_TIKA_SERVER_JAR="/replace/me/with/path/to/tika-server-#version#.jar"
TE_TIKA_SERVER_HOST=127.0.0.1
TE_TIKA_SERVER_PORT=9998
TE_TIKA_SERVER_LOGLEVEL="" # 'debug' or 'info'
